doctype
html
  head
    title #{title} - TSC Finder
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    section#banner.wrapper
        div.inner
            section
                h2 TSC Finder
    section#one.wrapper
        div.inner
            section.main-content
                block content
    footer#footer
        .copyright &copy; Running on Node.js with Express and Pug