extend layout
block content
    h3= message
    section.main-content
        p=input
    section#one.wrapper
        table
            tr
                th Score
                th TSC
            for item in results
                tr
                    th= item.score
                    th= item.tsc
